/* General common rules */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h1{
    font-size:30px;
}

/* GENERAL */

.general-container{
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}



/* HEADER */

.header-container{
    color: #4a4a4a; 
}

.logo-container{
    padding: 10px 0;
}

.header-menu-container{
    padding-bottom: 13px;
    text-transform: uppercase;
}

.menu-items{
    display: inline;
    text-decoration: none;
    margin: auto 10px;
    color: inherit;
}


/* MAIN */

.main-container{
    font-size: 30px;
    text-transform: capitalize;
    background-color: #3CDBC0;
    color: #FFFFFF;

    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    max-width: 200px;
}



/* Adding responsive behaviour */
@media all and (min-width:768px){

    .header-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        margin: 20px 30px;
    }

}