
/* General common rules */
* {
    /* background-color: pink; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* border: 0.1px solid blueviolet; */
}

body{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

h2{
    font-size:30px;
}

.header-container{
    color: #4a4a4a; 
}

.general-container{
    /* background-color:pink; */
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}

.main-container{
    font-size: 30px;
    background-color: #3CDBC0;
    color: #FFFFFF;
    padding: 30% 50px;
    flex-grow: 1;
}

.logo-container{
    padding: 10px 0;
}

.header-menu-container{
    padding-bottom: 13px;
    text-transform: uppercase;
}

.general-container{
    /* background-color:yellow; */
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
}

.menu-items{
    display: inline;
    margin: auto 10px;
}

/* Adding responsive behaviour */
@media all and (min-width:768px){
    /* *{
        color: orange;
    } */

    .header-container{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        /* margin-right: 30px; */
        margin: 20px 30px;
    }

    .main-container{
      padding: 40% 50px;
    }

}